extends layout

block content
  .navbar
      a(href='/')
        i.fa.fa-fw.fa-home
        |  HomePage
      a(href='/periodictable/elements')
        i.fas.fa-vial
        |  Elements
      a.active(href='/periodictable/groups')
        i.fa.fa-fw.fa-flask
        |  Groups
      a(href='/periodictable/periods')
        i.fa.fa-fw.fa-atom
        |  Periods
  h1.glow= name 

  table.table 
    thead
        tr
            th Elements    
    tbody
        each e in group 
            tr
                td
                    a(href='/periodictable/element/'+e.Symbol)=e.Symbol 